.skillsBlock {
    min-height: 100vh;
    background-color: #b8ff9a;
    display: flex;
    align-items: center;
}

.container {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    background-color: beige;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}





