$textColor: #979797; //цвет всего текста
$textFont: "Poppins", sans-serif; // шрифт для основного текста
$titlesColor: #494949; //цвет заголовков блоков
$blockTitleFont: 'Raleway', sans-serif; //стьль шрифта для заголовков блока
$miniTitle: #757575; //цвет заголовка элементов блока
$miniTitleFont: 'Open Sans', sans-serif; //стиль шрифта для заголовка элементов блока
$primaryColor: #bcbcbc; //цвет псевдо элементов (подчеркивания, рамки)
$bgColor: #f5f5f5; //первый основной цвет заднего фона
$bgSecondColor: #fff; //;второй основной цвет заднего фона





