.distansWork {
  justify-content: center;
  max-height: 20vh;
  padding: 20px 0 50px 0;
  display: flex;

}

.container {
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}







